/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.laravel
.env.backup
.env.docker
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
docker-compose-test.yml
package-lock.json
